*{margin:0; padding: 0; box-sizing: border-box;}
@media screen and (max-width: 480px){
    .table-bordered {width: 94%}
    .thead {display:flex}
    .meusjogos {display:flex}
    .jumbotron {width: 100%}
}

@media only screen and (min-width: 1200px){
    .table-bordered {width: 100%;};
    .jumbotron {width: 100%};
}

h2{
    color: rgb(7, 7, 7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
    text-align: center;
    font-style: italic;
}

h3{
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
    text-align: center;
    font-style: italic;
}

.myform{
    color: rgb(3, 3, 3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90%;
}

.thead{
    font-size: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: #ddd;
    text-align: center;
    max-width: 900px;
}

.meusjogos{
    font-size: 85%;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(28, 137, 137);
    max-width: 900px;
}

.btn-primary{
    padding: 5px 2%;
}

.dicas{
    font-size: 110%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
}

.refresh_list{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
}