{% extends 'base.html' %}

{% load bootstrap %}

{% block title %} Login {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<center><h1>Login</h1></center><br>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        {{ login_form|bootstrap }}
        <br>
        <button type="submit" class="btn btn-info">Login</button><br>
        <br><br>
    </form>       
        <br><br><p class="text-center">Não tem uma conta? <a href="{% url 'cadastro' %}">Crie uma conta aqui</a>.</p>  
        
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <center><span class="text-muted">Desenvolvido por Dione Rafael Padilha</span></center>
        </div>
    </footer>
{% endblock %}