{% extends 'base.html' %}

{% load bootstrap %}

{% block title %} Login {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<center><h1>Login</h1></center><br>
    <form method="POST" action="">
        {% csrf_token %}
        {{ login_form|bootstrap }}
        <br>
        <button type="submit" class="btn btn-info">Login</button><br>
        <br><br>
    </form>       
        <center><a href="{% url 'cadastro' %}" class="btn btn-primary">Novo Cadastro</a></center>   
        
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <center><span class="text-muted">Desenvolvido por Dione Rafael Padilha</span></center>
        </div>
    </footer>
{% endblock %}