{% extends 'base.html' %}

{% load humanize %}

{% load bootstrap %}

{% block title %} Inserir Jogos {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

    <h3><u>Novo Jogo</h3></u>

    <div class="row">
        <div class="col">
            <a href="{% url 'games_list' %}" class="refresh_list">Para voltar para a lista</a>
        </div>

        <div class="col">
    
        </div>

        <div class="col-x">
            {% if user.is_authenticated %}

                <p>Olá {{ user.username }} 
                    <a href="{% url 'logout' %}" class="btn btn-info" onclick="return confirm('Tem certeza que deseja sair?')">Sair</a>
                </button></p>
            
            {% endif %}
        </div>
    </div>

    <form method="POST" enctype="multipart/form-data" class="myform">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>

{% endblock %}