{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<div class="row">
    <div class="col-sm">
        {% if user.is_authenticated %}
            <br><font size="5"><a href="{% url 'games_list' %}">Para ter acesso a sua lista</a></font>
        {% else %}
        {% endif %}
    </div>

    <div class="col-sm">
        <center><u><h1>Bem Vindo</h1></u></center>
        {% if user.is_authenticated %}
        {% else %}
        <br><b><font size=+1>Aqui voce pode listar, inserir, atualizar e deletar jogos a sua vontade. Entre em seu cadastro clicando em 
        <a href="{% url 'login' %}">login</a>
        ou <a href="{% url 'cadastro' %}">cadastre-se</a> para ter acesso aos jogos.</b></font>
        {% endif %}
    </div>

    <div class="col-sm">
        {% if user.is_authenticated %}
            <br>Olá {{ user.username }}
            <a href="{% url 'logout' %}" class="btn btn-warning" onclick="return confirm('Tem certeza que deseja sair?')">Sair</a>
        {% else %}
        {% endif %}
    </div>
</div>

<br>



    {% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <center><span class="text-muted">Desenvolvido por Dione Rafael Padilha</span></center>
        </div>
    </footer>

{% endblock %}